body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0%;
}
.color-white{
    font-size: 80px;
    font-weight: 700;
    color: aliceblue;
    text-align: center;
    padding-top: 13%;
}
h2{
    font-size: 60px ;
    font-weight: 700;
    padding: 20px 20px;
    margin-left: 6%;
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
}
.color-p{
    color: aliceblue;
    text-align: center;
    margin-bottom: 2%;
}
.bac-one{
    background-image: url(image/bac-1.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-top: 5%;
   
}
.donate-button{
    margin-left: 43%;
    font-size: 25px;
    margin-top: 40px ;
    color: aliceblue;
    font-weight: 700;
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 60, 0),rgb(248, 103, 46));
    border-radius: 10px;
    padding: 10px 40px;
}
.color-black{
    color: black;
    font-size: 80px;
    font-weight: 700;
    text-align: center;
}
.colorp-black{
    color: black;
    text-align: center;
}
.donate-amount{
    background-color: rgb(253, 202, 202);
    border: 5px solid red;
}
.other-amount{
    font-size: 30px;
    text-align: center;
    
}
.divider{
    margin-left: 15%;
    margin-right: 15%;
    width:1200px ;
    height: 3px;
    background-color: gray;
    display: inline-block;
    margin-bottom: 5%;
}
.flex-continer{
    display: flex;
}
.align{
    margin-top: 10%;
}
.food-bac{
    background-color: antiquewhite;
    margin: 1%;
    text-align: center;
    padding: 20px 5px;
}
.frame-bac{
    background-color: rgb(177, 202, 255);
    margin: 1%;
    text-align: center;
    padding: 20px 5px;
}
.shelter-bac{
    background-color: rgb(154, 252, 159);
    margin: 1%;
    text-align: center;
    padding: 20px 5px;
}
.padding-all{
    margin: 3%;
}
.color-align{
    color: black;
    font-size: 75px;
}
.width img{
    width: 93%;
    height: 100%;
}
.width{
    margin-top: 10%;
    margin-left: 3%;
}
.Contribute-button{
    font-size: 25px;
    color: aliceblue;
    font-weight: 700;
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 60, 0),rgb(248, 103, 46));
    border-radius: 10px;
    padding: 10px 60px;
}
.color-palign{
    color: black;
    font-size: 70px;
}
.widthtwo{
    margin: 3%;
    margin-top: 10%;
}
.widthtwo img{
    width: 95%;
    height: 100%;
}
.input{
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;
    font-size: 30px;
    background-color: antiquewhite;
    text-align:center;
    padding: 70px 40px;
}
.email{
    background-color: rgb(198, 199, 199);
    font-size: 20px;
    font-weight: 700;
    width: 30%;
    padding: 15px 10px;
    border: none;
    border-radius: 5px;
}
.submit{
    color: aliceblue;
    font-size: 20px;
    font-weight: 700;
    width: 15%;
    background-color: rgb(255, 0, 0);
    padding: 15px 10px;
    border: none;
    border-radius: 5px;
}
footer{
    background-color: black;
    padding: 50px 50px ;
}
footer h3{
    color: rgb(255, 212, 212);
    font-size: 40px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}
footer p{
    color: aliceblue;
    text-align: center;
}