body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h1{
    font-size: 80px;
    font-weight: 700;
    color: aliceblue;
    text-align: center;
    padding-top: 13%;
}
p{
    color: aliceblue;
    text-align: center;
}
.bac-one{
    background-image: url(image/bac-1.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-top: 5%;
   
}
.donate-button{
    margin-left: 45%;
    margin-top: 40px ;
    color: aliceblue;
    font-weight: 700;
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 60, 0),rgb(248, 103, 46));
    border-radius: 10px;
    padding: 10px 30px;
}